#main-nav {
    color: white;
}

#navBrand {
    color: white;
    font-size: 26px;
}

#navbarFirst {
    color: white;
}

#navbarSecond {
    color: white;
}

#navbarThird{
    color: white;
}

#navInline {
    color: white;
    font-size: 26px;
}

#navbarFirst, #navbarSecond, #navbarThird, #navInline {
    cursor: pointer;
}
